<VirtualHost 10.0.0.41:80>

    SetEnv RAILS_ENV production

    ServerName stormxcape.com

    # handle all requests through SCGI
    SCGIMount /dispatch.fcgi 127.0.0.1:9998

    DocumentRoot /path/to/stormxcape.com/public
    ErrorLog logs/stormxcape.com-error_log

    <Directory /path/to/stormxcape.com/public>
        Options +FollowSymLinks
        AllowOverride all
        Order allow,deny
        allow from all
    </Directory>

    AddDefaultCharset utf-8
    ErrorDocument 500 /500.html
    ErrorDocument 404 /404.html

</VirtualHost>
